@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
#slack {
  visibility: hidden;
}
#profile_img {
  margin-bottom: 3px;
}
#z-tag {
  width: 150px;
}
hr {
  margin: 1% 8%;
  border: 1px solid #eaecf0;
}
.my_links {
  text-decoration: none;
  color: black;
  font-size: 15px;
  font-weight: bold;
  background-color: #eaecf0;
  width: 80%;
  text-align: center;
  padding: 1rem;
  border-radius: 5px;
  margin: 5px auto;
}
.share {
  position: relative;
  left: 15rem;
  margin: 10px;
  border: 1px dotted #eaecf0;
  border-radius: 100%;
  padding: 5px;
  width: 30px;
}
.App {
  width: 80%;
}
.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}
.btm-nav {
  width: 80%;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 10px;
}
.btm-nav a {
  margin: 10px;
}
footer {
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Contact Page */
.contact-body {
  flex-direction: column;
  display: flex;
  justify-content: center;
  max-width: 100%;
  margin: 5% 15% 2%;
}
.contact-heading {
  margin-bottom: 10px;
}
.intro {
  margin-bottom: 20px;
}
.my-form,
.form-fields {
  display: flex;
  width: 100%;
  flex-direction: column;
}
.names {
  display: flex;
  justify-content: space-between;
}
.right-link {
  margin-left: 20px;
}
.my-check {
  margin: 15px 0 20px;
}
.my-check input {
  margin-right: 10px;
}
.my-inputs {
  margin: 5px 0 15px;
  padding: 10px;
  border: 1px solid #d0d5dd;
  border-radius: 5px;
}
@media screen and (max-width: 600px) {
  body {
    min-width: 100vw;
  }
  .footer-links {
    flex-direction: column;
    width: 100%;
    margin: 10px 2rem;
  }
  .footer-links p,
  img {
    margin: 5px 0;
  }
  .names {
    flex-direction: column;
    margin-bottom: 10px;
  }
  .mobile-text {
    font-size: 14px;
  }
  .right-link {
    margin: auto;
    width: 100%;
  }
  .share {
    left: 8rem;
    padding: 8px 6px;
    width: 25px;
  }
}
