@import url("https://fonts.googleapis.com/css2?family=Inter&family=Playwrite+CU:wght@100..400&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
main {
  flex: 1;
  width: 100%;
}
#root {
  min-height: 100vh;
  background: linear-gradient(to top right, #2a0a29, #f3c0cb);
  color: white;
}
#root,
.my-links-container,
.profile,
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.name {
  font-family: "Playwrite CU", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
}

.my-links {
  text-decoration: none;
  color: black;
  font-size: 15px;
  font-weight: bold;
  background-color: #eaecf0;
  width: 80%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem;
  border-radius: 5px;
  margin: 5px auto;
}
.my-links:hover {
  background-color: #d0d5dd;
}
.profile {
  padding-top: 10px;
}
footer {
  bottom: 0;
  padding: 15px 0;
  margin-top: 10px;
  border-top: 1px solid #eaecf0;
}

/* Contact Page */
.contact-body {
  flex-direction: column;
  display: flex;
  justify-content: center;
  color: white;
  margin: 5% 15% 2%;
}
.contact-heading {
  margin-bottom: 10px;
  color: #f3c0cb;
}
.intro {
  margin-bottom: 20px;
}
.my-form,
.form-fields {
  display: flex;
  width: 100%;
  flex-direction: column;
}
.names {
  display: flex;
  justify-content: space-between;
}
.right-link {
  margin-left: 20px;
}
.my-check {
  margin: 15px 0 20px;
}
.my-check input {
  margin-right: 10px;
}
.my-inputs {
  margin: 5px 0 15px;
  padding: 10px;
  border: 1px solid #d0d5dd;
  border-radius: 5px;
}
/* error-page */
.error-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.error-text {
  font-size: 2rem;
  font-weight: 700;
  color: #dc2626;
  margin-bottom: 20px;
}
.error-emoji {
  width: 50px;
  margin-right: 10px;
}
@media screen and (max-width: 600px) {
  body {
    min-width: 100vw;
  }
  .names {
    flex-direction: column;
    margin-bottom: 10px;
  }
  .mobile-text {
    font-size: 14px;
  }
  .right-link {
    margin: auto;
    width: 100%;
  }
}
